@import '../../../shared/vars.scss';

.chatCard {
    display: flex;
    align-items: center;
    padding: .7em;
    border-bottom: 1px solid #464646;
    border-top: 1px solid #464646;
    cursor: pointer;

    &:hover {
        background-color: $hover;
    }

    &:focus {
        background-color: $hover;
        outline: none;
    }

    >img {
        width: 50px;
        height: auto;
        border-radius: 50%;
        flex-basis: 10%;
    }

    >.chatInfo {
        display: flex;
        justify-content: space-between;
        flex-basis: 65%;
        padding-left: 1em;

        >.chatInfoInner {
            display: flex;
            flex-direction: column;
        }

        >.messageStatus {
            display: flex;
            width: 1em;

            >svg {
                >path {
                    stroke: rgb(0, 242, 255);
                }
            }
        }
    }

    >.chatTime {
        display: flex;
        gap: .5em;
        flex-basis: 20%;
    }
}

.active {
    background-color: $active;

    &:hover {
        background-color: $active;
    }
}