@import '../../../shared/vars.scss';



.chatWindowHeader {
    flex-basis: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    border-bottom: 1px solid #464646;
    background-color: $secondary;

    >.backButton,
    .searchButton {
        flex-basis: 20%;
        display: flex;
        align-items: center;

        >button {
            border: none;
            outline: none;
            background: transparent;
            width: 2em;
            height: 2em;
            cursor: pointer;
        }
    }

    >.user {
        flex-basis: 75%;
        display: flex;
        align-items: center;
        gap: .5em;

        >img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    >.backButton {
        @media screen and (min-width: 640px) {
            display: none;
        }
    }

    >.searchButton {
        flex-basis: 5%;
    }

}