@import '../../../shared/vars.scss';

.chatWindowHeader {
    position: relative;
    flex-basis: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    border-bottom: 1px solid #464646;
    background-color: $secondary;

    >.navButtons {
        display: flex;
        flex-direction: column;
        gap: .5em;
        position: absolute;
        top: 87vh;
        right: 2%;
        transform: translate(-50%, -50%);

        >button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            border: none;
            outline: none;
            background: $secondary;
            cursor: pointer;

            &[disabled] {
                cursor: default;
                background: transparent;
                border: 1px solid black;

                &:hover {
                    background: transparent;
                }
            }

            &:hover {
                background-color: $primary;
            }

        }
    }

    >.backButton,
    .searchButton {
        flex-basis: 10%;
        display: flex;
        align-items: center;

        >button {
            border: none;
            outline: none;
            background: transparent;
            width: 2em;
            height: 2em;
            cursor: pointer;
        }
    }

    >.user {
        flex-basis: 85%;
        display: flex;
        align-items: center;
        gap: .5em;

        >img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }

        >.usernameWithStatus {
            display: flex;
            flex-direction: column;  

            >p:last-child {
                font-size: .8em;
            }

            >.online {
                color: rgb(46, 99, 198);
            }

            >.offline {
                color: lightgray;
            }
        }
    }

    >.backButton {
        @media screen and (min-width: 640px) {
            display: none;
        }

    }

    >.messageSearchContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;

        >input {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 0 1em;
            color: white;
            background: transparent;
            font-size: 1em;
            caret-color: white;
        }

        >.closeSearch {
            width: 2em;
            height: 2em;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    >.searchButton {
        flex-basis: 5%;
    }

}