@import '../../../shared/vars.scss';

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: .4em .5em;
    background-color: $secondary;
    border-radius: 1vmax;
    margin-bottom: .6em;
    max-width: 80%;


    >* {
        font-size: .9em;
    }

    >p {
        width: 100%;
        overflow-wrap: break-word;
        text-align: start;
        color: rgb(191, 81, 255);
    }

    >.messageContent {
        display: flex;
        gap: .4em;

        >b {
            align-self: flex-end;
            font-size: .7em;
            color: rgb(170, 170, 170);
        }
    }

}

.myMessage {
    align-self: flex-end;

    background-color: rgb(43, 96, 149);

    >p {
        overflow-wrap: break-word;
        width: 100%;
        text-align: end;
    }
}