@import '../../../shared/vars.scss';

.chatsList {
    background-color: $secondary;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media screen and (min-width: 640px) {
        border-right: 1px solid #464646;
        width: 30vw;
    }

    >.chats {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

::-webkit-scrollbar {
    width: .2em;
}

::-webkit-scrollbar-track {
    background: #464646;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.close {
    display: none;

    @media screen and (min-width: 640px) {
        display: flex;
        // max-height: 100vh;
        // display: flex;
        // flex-direction: column;
        // overflow: hidden;
    }
}