.chatsList {
    grid-area: chatsList;

    // width: 100%;

    @media screen and (min-width: 768px) {
        border-right: 1px solid #464646;
        overflow-y: scroll;
    }
}

::-webkit-scrollbar {
    width: .2em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #464646;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}