@import '../../../shared/vars.scss';

.chatWindow {
    display: none;
    
    @media screen and (min-width: 640px) {
        width: 70vw;
        max-height: 100vh;
        display: flex;
    }

    >.messages {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
        padding: .5em .5em 0 .5em;

        >.dummyDiv {
            width: 0;
            height: 0;
        }

    }

    >.messageEditInfo {
        display: flex;
        justify-content: space-between;
        padding: .5em;
        border-bottom: 1px solid #464646;
        background: $secondary;

        >button {
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
        }
    }

    >.dropdown {
        display: none;

        >p {
            cursor: pointer;

            &:hover {
                border: 1px solid white;
            }
        }
    }

}

.open {
    flex-basis: 92%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;

    @media screen and (min-width: 640px) {
        width: 70vw;
    }
}