@import '../../../shared/vars.scss';

.chatWindow {
    flex-basis: 92%;
    display: none;
    width: 100vw;
    max-height: 100vh;
    flex-direction: column;
    overflow: hidden;

    @media screen and (min-width: 640px) {
        width: 70vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    >.messages {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
        padding: .5em .5em 0 .5em;

        >.dummyDiv {
            width: 100%;
            height: 1em;
        }

    }

    >.messageEditInfo {
        display: flex;
        justify-content: space-between;
        padding: .5em;
        border-bottom: 1px solid #464646;
        background: $secondary;

        >button {
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
        }
    }

    >.inputContainer {
        position: relative;
        height: 3em;

        >textarea {
            resize: none;
            overflow: auto;
            background: $secondary;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            font-size: 1.3em;
            padding: .5em 1.5em .5em 1em;
        }

        >button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 2em;
            width: 2em;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: black;

            background: transparent;
            outline: none;
            border: none;
        }
    }

    >.dropdown {
        display: none;

        >p {
            cursor: pointer;

            &:hover {
                border: 1px solid white;
            }
        }
    }

}

.open {
    display: flex;
    width: 100vw;
    max-height: 100vh;
    flex-direction: column;
    overflow: hidden;

    @media screen and (min-width: 640px) {
        width: 70vw;
    }
}