.chatWindow {
    display: none;
    grid-area: chatWindow;

    @media screen and (min-width: 640px) {
        display: flex;
        flex-direction: column;

    }

    >.chatWindowContent {
        display: flex;
        flex-direction: column;
        height: 93vh;
        overflow-y: scroll;

        >.dropdown{
            display: none;
        }

        >.open{
            display: flex;
        }
    }


}